@import "./font.scss";
@import "./table.scss";

body {
  &::-webkit-scrollbar {
    width: 10px;
    background-color: #fff;
  }
  &::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: #009591;
  }
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 1000px white inset;
  -webkit-box-shadow: 0 0 0 1000px white inset;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

.custom-control-label:before,
.custom-file-label,
.custom-select {
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}
.custom-select {
  display: inline-block;
  width: 10rem;
  height: calc(1.5em + 0.75rem + 2px);
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  background: #fff
    url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E")
    no-repeat right 0.75rem center/8px 10px;
  vertical-align: middle;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-appearance: none;
  appearance: none;
}

.form-control {
  border-radius: 0.25rem !important;
}

.row,
.col {
  margin: 0;
  padding: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.text-justify {
  text-align: justify !important;
}

main {
  &.center {
    height: 100%;
    position: relative;
    .container {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  // .container {
  //   color: #000;
  //   padding: 4rem 0;
  // }
}

$mainColor: #009591;
$mainColor2: #29b495;
$subColor: #ed1550;

.mainColor {
  color: $mainColor;
  &:hover,
  &:focus {
    color: $mainColor;
  }
}
.mainBg {
  background: $mainColor;
  &:hover,
  &:focus {
    background: $mainColor;
  }
}

.mainColor2 {
  color: $mainColor2;
  &:hover,
  &:focus {
    color: $mainColor2;
  }
}
.mainBg2 {
  background: $mainColor2;
  &:hover,
  &:focus {
    background: $mainColor2;
  }
}

.subColor {
  color: $subColor;
  &:hover,
  &:focus {
    color: $subColor;
  }
}
.subBg {
  background: $subColor;
  &:hover,
  &:focus {
    background: $subColor;
  }
}

.main-slide {
  .VueCarousel {
    .VueCarousel-pagination--bottom-overlay {
      .VueCarousel-dot-container {
        .VueCarousel-dot {
          outline: none;
        }
      }
    }
  }
}

#admin-page {
  // position: relative;
  main {
    min-height: 78vh;
    // .container {
    //   padding: 4rem 0;
    // }
  }
}

.btn:focus,
.page-item button:focus {
  outline: none !important;
  box-shadow: none;
}
.btn.disabled {
  opacity: 0.3;
}

#header {
  z-index: 100;
  color: #000;
  line-height: 1;
}

#footer {
  .footer-btns {
    * {
      text-decoration: none;
      color: #000;
    }
  }
  .notice {
    ul {
      line-height: 1.8;
    }
  }
}

.scrollTop-btn {
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  color: #fff;
  text-decoration: none;
  &.mobile {
    transform: scale(0.7);
    right: 1rem;
    bottom: 4rem;
  }
  &::before {
    content: "";
    background: $mainColor2;
    width: 4rem;
    height: 4rem;
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotateZ(45deg);
    transition: all 0.2s ease-in-out;
  }
  &:hover {
    color: #fff;
    &::before {
      background: $mainColor;
    }
  }
}

.statusSelected input[type="radio"] {
  display: none;
}

button.page-link,
li.page-item.disabled {
  font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
}

.hana {
  font-family: "HanaM" !important;
  &.b {
    font-family: "HanaB" !important;
  }
  &.cm {
    font-family: "HanaCM" !important;
  }
  &.l {
    font-family: "HanaL" !important;
  }
  &.ul {
    font-family: "HanaUL" !important;
  }
}

.gothic {
  font-family: "ONE-Mobile-Title" !important;
  &.r {
    font-family: "ONE-Mobile-Regular" !important;
  }
}

// .yellow {
//   background: #009591;
// }

// .yellow-underline {
//   position: relative;
//   display: inline-block;
//   z-index: 1;
//   &::before {
//     content: "";
//     position: absolute;
//     bottom: 10px;
//     left: 0;
//     width: 100%;
//     height: 10px;
//     z-index: -1;
//     background: #83d9d7;
//   }
// }

.form-group label {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 900;
}

.sr-only {
  display: none !important;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .home-icons {
    .col-md {
      border: none !important;
    }
  }
  .background-none {
    background: none !important;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .w-50 {
    width: 100% !important;
  }
  .w-25 {
    width: 75% !important;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
}
